lithron {
    display: root; font-size: 12pt;
}

file {
    display: file;
}

page {
    display: page; max-width: 14400pt;
}

img {
    provider: image;
}

ul, ol {
    counter-reset: item;
}

li {
    display: list-item;
}

br {
    provider: line-break;
}

address,blockquote,dd,div,dl,dt,h1,h2,h3,h4,h5,h6,ol,p,ul,center,dir,hr,menu,pre {
    display: block;
}

h1 {
    font-size: 2em; margin: .67em 0;
}

h2 {
    font-size: 1.5em; margin: .75em 0;
}

h3 {
    font-size: 1.17em; margin: .83em 0;
}

h4,p,blockquote,ul,ol,dl,dir,menu {
    margin: 1.12em 0;
}

h5 {
    font-size: .83em; margin: 1.5em 0
}

h6 {
    font-size: .75em; margin: 1.67em 0
}

h1,h2,h3,h4,h5,h6,b,strong {
    font-weight: bold
}

blockquote {
    margin-left: 40px; margin-right: 40px
}

i,cite,em,var,address {
    font-style: italic
}

pre,tt,code,kbd,samp {
    font-family: monospace
}

pre {
    white-space: pre
}

big {
    font-size: 1.17em
}

small,sub,sup { 
    font-size: .83em
}

sub {
    vertical-align: sub
}

sup {
    vertical-align: super
}

s,strike,del {
    text-decoration: line-through
}

hr {
    border: 1px inset
}

ol,ul,dir,menu,dd {
    margin-left: 40px
}

ol {
    list-style-type: decimal
}

ol ul,ul ol,ul ul,ol ol {
    margin-top: 0; margin-bottom: 0
}

u,ins {
    text-decoration: underline
}

center {
    text-align: center
}

